@font-face {
    font-family: ubuntu;
    src: url(assets/fonts/ubuntumono-regular.ttf);
}

:root {
    --background-color: black;
    --foreground-color: #c4c4c4;
    --highlight-color: #c38d23;

    --main-padding: 16px;
    --border: 8px;
}

html {
    height: 100%;
    width: 100%;

    background-color: var(--background-color);
    color: var(--foreground-color);

    font-family: ubuntu;

    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;

    margin: 0;
}

#main-window {
    height: 100%;

    display: flex;
    flex-direction: column;
    /* gap: var(--main-padding); */
}

#main-flex {
    display: flex;
    flex-direction: row;

    box-sizing: border-box;

    width: 100%;
    height: 100%;

    gap: var(--main-padding);
    padding: var(--main-padding);

    font-size: 2em;
}

@media screen and (max-width: 769px) {
    #main-flex {
        flex-direction: column;
    }

    #main {
        width: auto !important;
    }
}

#main {
    width: 0;
}

.bar {
    background-color: var(--foreground-color);
    height: 32px;
    margin: 8px;
}

.content-window {
    background-color: var(--background-color) !important;
    border: var(--border) solid var(--foreground-color);

    padding: var(--main-padding);

    color: white;

    flex: 1;
}

ul {
    list-style: square;
}

.title {
    font-size: 3em;
    font-weight: bold;
}

.subtitle {
    font-size: 1em;
}

.text-content {
    font-size: 0.5em;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    max-height: 32px;
}

.linkImage {
    height: 100%;
}