:root {
    --background-color: black;
    --foreground-color: #c4c4c4;
    --highlight-color: #c38d23;

    --main-margin: 32px; 
    --bar-height: 48px;
}

html, body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    background-color: var(--background-color);

    overflow: hidden;
}

#MainWindow {
    display: grid;
    grid-template-rows: var(--bar-height) auto var(--bar-height);
    
    margin: var(--main-margin);
    
    height: calc(100% - calc(var(--main-margin) * 2));
    width: calc(100% - calc(var(--main-margin) * 2));
}

.bar {
    background-color: var(--foreground-color);
}