.project {
    position: relative;
    box-sizing: border-box;

    width: min(50vh, 100%);
}

.project-image {
    border-radius: 1em;
    width: 100%;

    opacity: 100%;
    transition: opacity 0.3s;
}

.project-content {
    position: absolute;
    top: 0;
    left: 0;

    padding: 1em;
    margin: 1em;

    color: white;

    opacity: 0%;
    transition: opacity 0.3s;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.project-title {
    font-size: min(5vw, 3em);
    font-weight: bold;
}

@media(hover:hover) {
    .project:hover {
        cursor: pointer;
    }
    .project:hover .project-image {
        opacity: 25%;
    }

    .project:hover .project-content {
        opacity: 100%;
    }
}

.project.hover .project-image {
    opacity: 25%;
}

.project.hover .project-content {
    opacity: 100%;
}


.project-description {
    font-size: min(3vw, 1.25em);
    font-weight: normal;
}